SERVICE_NAME=YOUR_SERVICE_NAME
ENVIRONMENT={development, staging, production}
HTTP_PORT=PORT_NUMBER
LOG_LEVEL={debug, info, warning, error}
LOG_FORMAT={text or json}
DEVICES_CSV_PATH=PATH_TO_DEVICES.CSV